<div class="ui segment">
  <div class="content">
    <div class="right floated meta">{{data.COD}}</div>
    {{data.Nombre}}
  </div>
  <div id={{data.COD}}>
    <svg>
    </svg>
  </div>
  <div class="content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      {{data.FK_Escala}}
    </span>
    <i class="comment icon"></i>
    {{data.FK_Unidad}}
  </div>
  <div class="extra content">
    <div class="ui large transparent left icon input">
      <i class="heart outline icon"></i>
      <input type="text" placeholder="Add Comment...">
    </div>
  </div>
</div>
